
<body>
    
</body>

<footer>
<link rel="stylesheet" href="footer.component.css">
<div class="container">
    
    <div class="parte1">
        <div class="col" id="col1">
            <button class="button buttonApp">Descarga la App</button> <br>
            <h5>Descarga la App para tu smartphone</h5>
        </div>
        <div class="col" id="col2">
            <p>aasssssssssssssssssssssssssss</p>
        </div>
        <div class="col" id="col3">
            <h4>Seguinos en:</h4>
            <button class="button buttonUp">Facebook</button> <br>
            <button class="button buttonUp">Instagram</button>
        </div>
    </div>
    <div class="parte2">
        <div id="abajo">
            <button class="button buttonAb">Sobre nosotros</button> <button class="button buttonAb">Ayuda</button> <button class="button buttonAb">Términos y condiciones</button>
            
        </div>
    </div>
    
    
</div>
</footer>
